<h1>Reactive Form </h1>

<hr>
<p>Uses Angular Material </p>
<hr>
<div class ="form-container mt-4">


<form [formGroup]="myForm">
    <div class="row ">

    <div class="col-md-6">
        
    
    <mat-form-field>
        <input matInput placeholder="email" formControlName="email">
    </mat-form-field>
</div>
<div class="col-md-6">
    <mat-form-field>
        <input matInput placeholder="message" formControlName="message">
     </mat-form-field>
</div>
<div class="col-md-6">


     <mat-form-field>
        <input matInput placeholder="carrer" formControlName="email">
            
        </mat-form-field>
    </div>
    <button mat-raised-button  color="primary" >Submit</button>
</div> 

</form>

</div>