<h1 style="text-align:center;">
    Welcome to Dashboard

</h1>
<hr>


<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>


        <mat-card style="background-color:darkseagreen">
            <mat-card-title style="background-color:black;color: white;">Orders Dispatched: 3</mat-card-title>
            <mat-card-header>


            </mat-card-header>

            <mat-card-content>

                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_xvtpTRUupe.json"
                    background="transparent" speed="1" style="width: 300px; height: 100px;" loop autoplay>
                </lottie-player>
            </mat-card-content>

        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>



        <mat-card style="background-color:lightgreen;">
            <mat-card-title style="background-color:black;color:white;">Total Order: 3</mat-card-title>
            <mat-card-header>


            </mat-card-header>

            <mat-card-content>

                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_xvtpTRUupe.json"
                    background="transparent" speed="1" style="width: 300px; height: 100px;" loop autoplay>
                </lottie-player>
            </mat-card-content>

        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card style="background-color:dodgerblue;">
            <mat-card-title style="background-color:black;color: white;">Total User: 3</mat-card-title>
            <mat-card-header>


            </mat-card-header>

            <mat-card-content>

                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_xvtpTRUupe.json"
                    background="transparent" speed="1" style="width: 300px; height: 100px;" loop autoplay>
                </lottie-player>
            </mat-card-content>

        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>




        <mat-card>

            <button mat-raised-button color="primary" (click)="logout()">Logout</button>

        </mat-card>
    </mat-grid-tile>
</mat-grid-list>